<div id="nav-bar-container">
    <nav class="navbar navbar-expand navbar-light bg-light border-bottom">
        <div>
            <button class="btn btn-primary" id="sidebarToggle" name="sidebarToggle"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="#">
                <%=title%>
            </a>
        </div>
    </nav>
</div>