<!-- Sidebar-->
<div class="border bg-white" id="sidebar-wrapper">
  <!-- side bar list group -->
  <div class="list-group list-group-flush">
    <!-- to navigate to details view -->
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Details</a>
    <!-- to navigate to week view -->
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/week_view">Weekly</a>
  </div>
</div>