<link rel="stylesheet" href="css/add-habit.css">

<h4 class="text-center m-3">
  Add New Habit
</h4>
<div id="add-habit-container">
  <form class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
      <div class="input-group">
        <div class="input-group-text">Name</div>
        <input type="text" class="form-control" id="habit-name" placeholder="Username">
      </div>
    </div>

    <div class="col-12">
      <div class="input-group">
        <div class="input-group-text">Time</div>
        <input type="time" class="form-control" id="habit-time" placeholder="Time">
      </div>
    </div>
  
    <div class="col-12">
      <select class="form-select" id="habit-frequency">
        <option disabled>Frequency</option>
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
      </select>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script src="js/add_habit"></script>