<link rel="stylesheet" href="css/add-habit.css">

<h4 class="text-center m-3">
  Add New Habit
</h4>
<div id="add-habit" class="container text-center">
  <form class="row row-cols-lg-auto g-3 align-items-center" action="/habit/create" method="post">
    <div class="col-12">
      <div class="input-group">
        <div class="input-group-text">Habit Name</div>
        <input type="text" class="form-control" name="name" placeholder="Habit Name">
      </div>
    </div>

    <div class="col-12">
      <div class="input-group">
        <div class="input-group-text">Habit Time</div>
        <input type="time" class="form-control" name="habit_time" placeholder="Time">
      </div>
    </div>
  
    <div class="col-12">
      <select class="form-select" name="frequency">
        <option selected disabled>Habit Frequency</option>
        <option value="Daily">Daily</option>
        <option value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
      </select>
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

<script src="js/add_habit"></script>