<link rel="stylesheet" href="css/month_view.css">

<%- include('./includes/_header.ejs') %>

<div class="d-flex" id="wrapper">

  <%-include('./includes/_sidebar.ejs')%>

    <div class="container col-12">
      <div class="calendar">
        <div class="header">
          <div class="month"></div>
          <div class="btns">
            <div class="btn today-btn">
              <i class="fas fa-calendar-day"></i>
            </div>
            <div class="btn prev-btn">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="btn next-btn">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
        <div class="weekdays">
          <div class="day">Sun</div>
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thu</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
        </div>
        <div class="days">
          <!-- <div class="day prev">29</div>
          <div class="day prev">30</div>
          <div class="day prev">31</div> -->
          <!-- prev month dates -->
          <!-- <div class="day">1</div>
          <div class="day">2</div>
          <div class="day">3</div>
          <div class="day today">4</div>
          <div class="day">5</div>
          <div class="day">6</div>
          <div class="day">7</div> -->
          <!-- next month days -->
          <!-- <div class="day next">8</div>
          <div class="day next">9</div>
          <div class="day next">10</div> -->
        </div>
      </div>
    </div>

</div>

<script src="js/month_view.js"></script>