#task-item{
  display: flex; 
  flex-direction: row;
  span{

  }
  #task-detail{
    flex-grow: 1;
    float: right;
    p{
      text-align: right;
    }
  }
}

.container{
  margin: 20px 0px;
}



